.background-background-blue {
  background-color: #f7fafc;
}
.background-button-blue {
  background-color: #0000ff;
}
.background-grey {
  background-color: #f4f4f4;
}
.background-grey-border {
  background-color: #f4f5f8;
}
.background-grey-light {
  background-color: #f4f5f8;
}
.background-blue {
  background-color: #000070;
}
.background-blue-button {
  background-color: #0000ff;
}
.background-white {
  background-color: #ffffff;
}
