.scroll-container {
  position: relative;
}
.scroll-container-shadow {
  position: absolute;
  width: 100%;
  height: 30%;
  pointer-events: none;
  bottom: 0;
}
.scroll-container-shadow--white {
  background-image: linear-gradient(transparent, #fff);
}
